/*
    1. Basic css
    2. Navigation Css
    3. Landing Css
    4. Footer Css
                    */

/* 1. Basic css */

.app-download li
{
overflow: visible!important;
}
.tool{
    position: relative;
    display: inline-block;}

 .tooltext {
    visibility: hidden;
    width: 160px;
    background-color: #fff;
    color: #333;
    border:1px solid #DD6A43;
    text-align: center;
    border-radius: 6px;
    margin-left: 1em;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 20%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 1s;
}

.tool .tooltext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tool:hover .tooltext {
    visibility: visible;
    opacity: 1;
}
.error
{
    color: white;
    margin-bottom: 0.5em;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #E67C3B;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #E67C3B;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #E67C3B;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #E67C3B;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #E67C3B;
}

.subject1 {
     box-shadow: 10px 10px 7px #888888;
     margin:0.4em;
    background-color:#01E77A;
    color:#fff;
    padding-left:1em;
    padding-right:1em;
    font-size:20px;
    border: 1px solid #01E77A;
    border-radius:20px; 
}

.subject2 {
     box-shadow: 10px 10px 7px #888888;
     margin:0.4em;
    background-color:#945FEE;
    color:#fff;
    padding-left:1em;
    padding-right:1em;
    font-size:20px;
    border: 1px solid #945FEE;
    border-radius:20px; 
}

.subject3 {
     box-shadow: 10px 10px 7px #888888;
     margin:0.4em;
    background-color:#FD9856;
    color:#fff;
    padding-left:1em;
    padding-right:1em;
    font-size:20px;
    border: 1px solid #FD9856;
    border-radius:20px; 
}

.subject4 {
     box-shadow: 10px 10px 7px #888888;
     margin:0.4em;
    background-color:#4AB0D0;
    color:#fff;
    padding-left:1em;
    padding-right:1em;
    font-size:20px;
    border: 1px solid #4AB0D0;
    border-radius:20px; 
}

p .subject
{
 margin-left:3em; 
}

@media (min-width: 360px) {
    .galaxy
    {
margin-top: -2em;
    }
    #why
    {
    margin-bottom: 11em!important;
    max-height: 6em;
    }
    .martop
    {
    margin-top: 4.5em;
    }
    .marbot
    {
        margin-bottom: -3em!important;
    }
    }

@media (max-width: 340px) {
    .galaxy1
    {
margin-bottom: 1em;
    }
     #why
    {
    max-height: 6em;
    }
    .martop
    {
    margin-top: 4.5em;
    }
}

@media (min-width: 992px) {
    #why
    {
    max-height: 2em;
    }
}

@media (min-width: 992px) {
    .martop
    {
    margin-top: 4.5em;
    }
}

@media (max-width: 768px) {
    #why
    {
        max-height: 10em;
    }
    .featur
    {
    margin-top: 5em;
    }
    .ipad
    {
    padding-bottom: 2em;
    }
    .pad
    {
        margin-bottom: -5em;
    }
    .pad2
    {
        margin-bottom: 1em!important;
    }
    .pad3{
     margin-top: 5em;
    }
    #why
    {
    min-height: 6em;
    }
    .martop
    {
    margin-top: 4.5em;
    }

}


@media (max-width: 767px) {
    .featur
    {
margin-top: 7em;
margin-bottom: -3em;
    }
}
@media (max-width: 412px) {
    #why
    {
    margin-bottom: 8em;
    max-height: 18em;
    }
    .marg
    {
    margin-top: 4em!important;
    }
    .pad3
    {
        margin-top: 2em!important;
    }
    .marbot
    {
        margin-bottom: -3em!important;
    }
}
@media (max-width: 320px) {
    
    .app-download li {
        margin: 4px 4px 0 4px!important;
        border-radius: 20px!important;
    }
    .landing-home {
        height: 95vh!important;
    }
    #why
    {
    margin-bottom: 14em;
    max-height: 25em;
    }
    .martop
    {
    margin-top: 1em;
    }
}
@media (max-width: 414px) {
     #why
    {
    max-height: 25em;
    }
    .martop
    {
    margin-top: 2em;
    }
    .marbot
    {
        margin-bottom: -3em!important;
    }
    .martop2
    {
        margin-bottom: 0em!important;
    }
}

#countdown {
  display: block;
  overflow: hidden;
  text-align: center;
  color:#fff;
  padding: 0
}

#countdown li {
  list-style: none;
  display:inline-block;
  margin-right: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
 
}
#countdown li:last-child {
  margin-right: 0
}
#countdown li span {
  display: block;
  font-size: 25px;
  font-weight: 700;
  height: 52px;
  line-height: 59px;
  width: 55px;
  border-radius: 7px;
  border-right: 1px solid #9e3e2e;
  border-bottom: 1px solid #9e3e2e;
}

#countdown li .days {
  background-color: #45b29d;
  border-top: 1px solid #6ac1b1;
  border-left: 1px solid #6ac1b1;
}

#countdown li .hours {
  background-color: #efc94c; 
  border-top: 1px solid #f2d470;
  border-left: 1px solid #f2d470;
}

#countdown li .minutes {
  background-color: #e27a3f;
  border-top: 1px solid #e89565;
  border-left: 1px solid #e89565;
}

#countdown li .seconds {
    margin-left: -0.5em;
  background-color: #df5a49;
  color:#fff;
  border-top: 1px solid #e57b6d;
  border-left: 1px solid #e57b6d;
}

#countdown li:before {
  background-color: #FFFFFF;
  content: "";
  height: 11px;
  left: 0;
  
  top: 36px;
  width: 1px;
}

#countdown li:after {
  background-color: #FFFFFF;
  content: "";
  height: 11px;
  right:0;
  
  top: 36px;
  width: 1px;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #FFF;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
a, button, input {
    text-decoration: none !important;
    outline: none !important;
}
img{
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.animated {
    opacity: 0;
}
.visible {
    opacity: 1;
}

/* 2. Navigation Css */
.navbar-brand {
    background-image: url('http://hashprep.com/images/logo-b.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
}
.navbar {
    background-color: transparent;
    border-bottom: rgba(255,255,255,0.29) solid 1px;
    padding: 7px 0;
    -webkit-transition: 0.4s all ease-out;
    -moz-transition: 0.4s all ease-out ;
    -ms-transition: 0.4s all ease-out ;
    -o-transition: 0.4s all ease-out ;
    transition: 0.4s all ease-out ;
}
.navbar *{
    -webkit-transition: 0.4s all ease-out;
    -moz-transition: 0.4s all ease-out ;
    -ms-transition: 0.4s all ease-out ;
    -o-transition: 0.4s all ease-out ;
    transition: 0.4s all ease-out ;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    margin: 0 10px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:after {
    content: '';
    width: 0;
    position: absolute;
    height: 1px;
    background-color: #fff;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease ;
    -ms-transition: 0.4s all ease ;
    -o-transition: 0.4s all ease ;
    transition: 0.4s all ease ;
}
.navbar-default .navbar-nav>li>a:hover:after {
    width: 100%;
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease ;
    -ms-transition: 0.4s all ease ;
    -o-transition: 0.4s all ease ;
    transition: 0.4s all ease ;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a:after, .navbar-default .navbar-nav>.active>a:focus:after, .navbar-default .navbar-nav>.active>a:hover:after {
    width: 100%;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}
@media (max-width: 1366px) {
    .navbar {
        padding: 2px 0;
    }
    .landing-home h1 {
        font-size: 36px;
    }
}
@media (min-width: 768px) {
    .nav-white {
        background-color: #fff;
        border-bottom: rgba(255,255,255,0.29) solid 0px;
        -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
        -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
        box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    }
    .nav-white .navbar-brand {
        background-image: url('http://hashprep.com/images/logo-b.svg');
    }
    .nav-white .navbar-nav>.active>a, .nav-white .navbar-nav>.active>a:focus, .nav-white .navbar-nav>.active>a:hover {
        color: #db7c2e;
    }

    .nav-white .navbar-nav>li>a ,.nav-white .navbar-nav>li>a:focus, .nav-white .navbar-nav>li>a:hover {
        color: #db7c2e;
    }
    .nav-white .navbar-nav>li>a:after {
        background-color: #db7c2e;
    }
}
@media (max-width: 767px) {
    .navbar-brand {
        background-image: url(../images/logo-b.png);
         margin-left: 10px;
    }
    .navbar-default {
        background-color: #fff;
        border-bottom: rgba(255,255,255,0.29) solid 0px;
        -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
        -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
        box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    }
    .navbar-default .navbar-brand {
        background-image: url('http://hashprep.com/images/logo-b.svg');
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        color: #db7c2e;
    }

    .navbar-default .navbar-nav>li>a ,.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        color: #db7c2e;
    }
    .navbar-default .navbar-nav>li>a:after {
        background-color: #db7c2e;
    }
}


/* 3. Landing Css */
.landing-home {
    background-image: url(../images/bg.png);
    text-align: center;
    color: #fff;
    padding-top: 15vh;
    background-size: 100% 70vh;
    background-repeat: no-repeat;
    height: 100vh;
}
.app-download img{
    width: 25px;
    margin-right: 15px;
}
.landing-home h1 {
    margin: 0px;
    font-size: 50px;
    font-weight: 300;
}
.app-download ul, .app-download li, .app-download li a{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.app-download li{
    border: #fff solid 1px;
    border-radius: 50px;
    margin: 70px 20px 0 20px;
    overflow: hidden;
}
.app-download li a{
    padding: 15px 35px;
    color: #fff;
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease ;
    -ms-transition: 0.4s all ease ;
    -o-transition: 0.4s all ease ;
    transition: 0.4s all ease ;
}
.app-download li a:hover{
    background-color: rgba(255,255,255,0.2);
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease ;
    -ms-transition: 0.4s all ease ;
    -o-transition: 0.4s all ease ;
    transition: 0.4s all ease ;
}
.bg-image-container {
    margin-top: 70px;
    position: relative;
}
.bg-image-container img{
    max-width: 100%;
}
.bg-img-mac {
    width: 70%;
}
.bg-img-ipad {
    position: absolute;
    width: 45%;
    bottom: 0px;
    right: 0px;
}
.bg-img-iphone {
    position: absolute;
    width: 15%;
    right: 35%;
    bottom: 0px;
}
.landing-heading {
    text-align: center;
}
.services-container .nav-tabs>li.active>a,.services-container .nav-tabs>li.active>a:focus,.services-container .nav-tabs>li.active>a:hover {
    color: #000;
    cursor: default;
    background-color: #FFE4C4;
    border: none;
}
.services-container .nav-tabs li a:hover {
    background-color: transparent;
}
.services-container .nav-tabs li a {
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    position: relative;
    overflow: hidden;
}
.services-container .nav-tabs li a:after {
    content: '';
    width: 100%;
    background-color:  #db7c2e;
    height: 3px;
    position: absolute;
    bottom: -3px;
    left: 0px;
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease ;
    -ms-transition: 0.4s all ease ;
    -o-transition: 0.4s all ease ;
    transition: 0.4s all ease ;
}
.services-container .nav-tabs li a:hover:after {
    bottom: 0px;
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease ;
    -ms-transition: 0.4s all ease ;
    -o-transition: 0.4s all ease ;
    transition: 0.4s all ease ;
}
.services-container .nav-tabs li.active a:after {
    bottom: 0px;
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease ;
    -ms-transition: 0.4s all ease ;
    -o-transition: 0.4s all ease ;
    transition: 0.4s all ease ;
}
.services-container .nav-tabs li img {
    max-width: 30px;
    margin-bottom: 10px;
    max-height: 30px;
}
.services-container .nav-tabs, .services-container .nav-tabs li, .services-container .nav-tabs a{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.services-container .nav-tabs{
    align-items: stretch;
}
.services-container .nav-tabs li{
    width: 100%;
    align-items: stretch;
}
.nav-tabs>li>a {
    margin-right: 0px;
    line-height:inherit;
    border: none;
    border-radius: 0;
    width: 100%;
}
.services-tab-container {
    margin-top: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.services-tab-container-left, .services-tab-container-right {
    width: 100%;
}
.services-tab-container-left {
    text-align: center;
}
.services-tab-container-left img {
    width: 80%;
    max-width: 350px;
}
.services-tab-container-right h4{
    font-weight: 700;
}
.landing-heading h2 {
    font-weight: 600;
}
.feature-image {
    text-align: center;
}
.feature-image img {
    max-width: 100%;
}
.feature-data-left img{
    max-width: 35px;
    max-height: 35px;
    margin-right: 20px;
}
.feature-data ul{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 50px 0;
}
.feature-data li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-right: 50px;
    width: 33.3%;
}
.feature-data li:nth-last-child(1) {
    margin-right: 0px;
}
.feature-data-right {
    text-align: justify;
    width: 100%;
}
.feature-data-right h4 {
    margin-top: 0;
    font-weight: 700;
}
.swiper-container {
    width: 100%;
    margin: 20px auto;
    padding-bottom: 50px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 15px;
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease ;
    -ms-transition: 0.4s all ease ;
    -o-transition: 0.4s all ease ;
    transition: 0.4s all ease ;
}
.swiper-slide *{
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease ;
    -ms-transition: 0.4s all ease ;
    -o-transition: 0.4s all ease ;
    transition: 0.4s all ease ;
}
.review-container {
    background-color: #cee4f5;
    padding: 15px 15px 35px 15px;
    margin-bottom: 50px;
    border-radius: 20px;
    font-size: 14px;
    position: relative;
    margin-top: 65px;
}
.review-container:after{
    content: '';
    background-image: url(../images/left-quote.png);
    position: absolute;
    top: 50%;
    left: 0;
    width: 40%;
    max-height: 50%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    opacity: 0.2;
}
.review-container p {
    margin: 0;
    position: relative;
    z-index: 2;
}
.review-user {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -55px;
}
.review-user-image {
    width: 50px;
    height: 50px;
    background-image: url(../images/user.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border-color: rgb(235, 232, 232);
    box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.44);
    margin-bottom: 10px;
}
.review-user p {
    color: #db7c2e;
    font-weight: 700;
}
.swiper-slide-active .review-container {
    padding: 35px 15px 80px 15px;
    margin-top: 0px;
    background-color: #db7c2e;
}
.swiper-wrapper {
    align-items: flex-end;
}
.swiper-slide-active .review-user-image {
    transform: translateY(-35px);
    -webkit-transition: 0.7s all ease 0.2s;
    -moz-transition: 0.7s all ease 0.2s ;
    -ms-transition: 0.7s all ease 0.2s ;
    -o-transition: 0.7s all ease 0.2s ;
    transition: 0.7s all ease 0.2s ; 
}
.swiper-slide-active .review-container > p {
    color: #fff;
    transition: 0.4s all ease ;
}
.swiper-pagination-bullet {
    width: 20px !important;
    border-radius: 16px !important;
    background-color: #cee4f5 !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #db7c2e !important;
}
.why-container-left {
    height: 400px;
    width: 50%;
    position: relative;
}
.card-1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-70%);
    left: 50%;
}
.card-2 {
    position: absolute;
    top: 50%;
    transform: translateY(-70%) translateX(-25%);
    left: 50%;
}
.card-3 {
    position: absolute;
    top: 50%;
    transform: translateY(-20%) translateX(-50%);
    left: 50%;
}
.round-1 {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 18%;
    left: 33%;
    transform: translateX(-50%) translateY(-50%);
}
.round-2 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 83%;
    left: 15%;
    transform: translateX(-50%) translateY(-50%);
}
.round-3 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 75%;
    left: 87%;
    transform: translateX(-50%) translateY(-50%);
}
.plus-1 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 65%;
    left: 80%;
    transform: translateX(-50%) translateY(-50%);
}
.plus-2 {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 40%;
    left: 8%;
    transform: translateX(-50%) translateY(-50%);
}
.round-1 img, .round-2 img, .round-3 img, .plus-1 img,.plus-2 img{
    max-width: 100%;
}
.why-container li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 25px 0;
}
.why-container-right {
    width: 50%;
    padding-left: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start;
    flex-direction: column;
    text-align: justify;
}
.why-container-right h4 {
    font-weight: 700;
}
.why-container-right-change {
    padding-left: 0;
    padding-right: 20px;
}
.serv-1 {
    position: absolute;
    top: 65%;
    left: 80%;
    transform: translateY(-50%) translateX(-50%);
}
.serv-2 {
    position: absolute;
    top: 77%;
    left: 28%;
    transform: translateY(-50%) translateX(-50%);
}
.serv-3 {
    position: absolute;
    top: 36%;
    left: 77%;
    transform: translateY(-50%) translateX(-50%);
}
.serv-4 {
    position: absolute;
    top: 69%;
    left: 55%;
    transform: translateY(-50%) translateX(-50%);
}
.serv-5 {
    position: absolute;
    top: 26%;
    left: 52%;
    transform: translateY(-50%) translateX(-50%);
}
.serv-6 {
    position: absolute;
    top: 43%;
    left: 24%;
    transform: translateY(-50%) translateX(-50%);
}
.round-4 {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 18%;
    left: 33%;
    transform: translateX(-50%) translateY(-50%);
}
.round-5 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 67%;
    left: 15%;
    transform: translateX(-50%) translateY(-50%);
}
.round-6 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 83%;
    left: 75%;
    transform: translateX(-50%) translateY(-50%);
}
.plus-3 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 94%;
    transform: translateX(-50%) translateY(-50%);
}
.plus-4 {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 46%;
    left: 8%;
    transform: translateX(-50%) translateY(-50%);
}
.cross-1 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 24%;
    left: 94%;
    transform: translateX(-50%) translateY(-50%);
}
.cross-2 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 18%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
}
.card-4 {
    position: absolute;
    top: 66%;
    transform: translateY(-70%) translateX(-70%);
    left: 50%;
}
.card-5 {
    position: absolute;
    top: 65%;
    transform: translateY(-20%) translateX(-50%);
    left: 50%;
    z-index: 2;
}
.user-1 {
    position: absolute;
    top: 46%;
    transform: translateY(-20%) translateX(-50%);
    left: 80%;
    z-index: 1;
}
.round-7 {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 10%;
    left: 36%;
    transform: translateX(-50%) translateY(-50%);
}
.round-8 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 75%;
    left: 7%;
    transform: translateX(-50%) translateY(-50%);
}
.round-9 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 75%;
    left: 82%;
    transform: translateX(-50%) translateY(-50%);
}
.plus-5 {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 40%;
    left: 8%;
    transform: translateX(-50%) translateY(-50%);
}
.cross-3 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 34%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
}
.why-1 {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 18%;
    left: 33%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
}
.why-2 {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 58%;
    left: 42%;
    transform: translateX(-50%) translateY(-50%);
}
.why-3 {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 18%;
    left: 59%;
    transform: translateX(-50%) translateY(-50%);
}
.why-4 {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 16%;
    left: 25%;
    transform: translateX(-50%) translateY(-50%);
}
.why-1 img{
    width: 200px;
}
.why-2 img{
    width: 100px;
}
.why-3 img{
    width: 110px;
}
.why-4 img{
    width: 100px;
}
.round-10 {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 17%;
    left: 46%;
    transform: translateX(-50%) translateY(-50%);
}
.round-11 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 47%;
    left: 32%;
    transform: translateX(-50%) translateY(-50%);
}
.round-12 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 55%;
    left: 63%;
    transform: translateX(-50%) translateY(-50%);
}
.plus-6 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 47%;
    left: 71%;
    transform: translateX(-50%) translateY(-50%);
}
.plus-7 {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 35%;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
}
.cross-4 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 11%;
    left: 59%;
    transform: translateX(-50%) translateY(-50%);
}
@media (max-width: 1366px) {
    .landing-home h1 {
        font-size: 42px;
    }
    .marg1{
        margin-top: 1em!important;
    }
    .request
    {
        margin-top: 4.4em;
        margin-left: -2em;
    }
    .app-download li {
        margin: 50px 20px 0 20px;
    }
    .bg-image-container img {
        max-width: 60%;
    }
    .bg-img-ipad {
        right: 100px;
    }
    .bg-img-mac {
        margin-left: 9%;
    }
}
@media (max-width: 1024px) {
    .request2
    {
        margin-top: .5em;
        margin-left: 0.5em;
        
    }
    .ipad
    {
    padding-bottom: 2em;
    }
    .martopp
    {
        margin-bottom: 10em!important;
    }
    .request
    {
        margin-top: 3.5em;
        margin-left: -2em;
    }
    .bg-image-container img {
        max-width: 100%;
    }
    .bg-img-mac {
        margin-left: 0%;
    }
    .bg-img-ipad {
        right: 0px;
    }
    .landing-home {
        padding-top: 9vh;
        background-size: 100% 65vh;
        height: auto;
    }
    .feature-data li {
        margin-right: 15px;
    }
    .feature-data-left img {
        max-width: 25px;
        max-height: 25px;
        margin-right: 15px;
    }
    .why-container-left img {
        width: 95%;
    }
    .round-1 {
        width: 8px;
        height: 8px;
        top: 20%;
        left: 34%;
    }
    .round-2 {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 78%;
        left: 24%;
    }
    .round-3 {
        width: 10px;
        height: 10px;
        top: 72%;
        left: 72%;
    }
    .why-container-left {
        height: 200px;
        max-width: 290px;
    }
    .plus-1 {
        width: 8px;
        height: 8px;
    }
    .plus-2 {
        top: 40%;
        left: 15%;
    }
    .cross-1 {
        width: 7px;
        height: 7px;
        top: 24%;
        left: 85%;
    }
    .why-container-right {
        width: 100%;
    }
    .why-container-left-change img {
        max-width: 65%;
    }
    .serv-1 {
        position: absolute;
        top: 66%;
        left: 74%;
        transform: translateY(-50%) translateX(-17%);
    }
    .serv-2 {
        position: absolute;
        top: 87%;
        left: 30%;
        transform: translateY(-58%) translateX(-34%);
    }
    .serv-3 {
        position: absolute;
        top: 40%;
        left: 72%;
        transform: translateY(-50%) translateX(-16%);
    }
    .serv-4 {
        position: absolute;
        top: 72%;
        left: 55%;
        transform: translateY(-50%) translateX(-29%);
    }
    .serv-5 {
        position: absolute;
        top: 32%;
        left: 54%;
        transform: translateY(-50%) translateX(-33%);
    }
    .serv-6 {
        position: absolute;
        top: 43%;
        left: 35%;
        transform: translateY(-50%) translateX(-50%);
    }
    .round-4 {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 14%;
        left: 33%;
        transform: translateX(-50%) translateY(-50%);
    }
    .round-5 {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 71%;
        left: 12%;
        transform: translateX(-50%) translateY(-50%);
    }
    .round-6 {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 84%;
        left: 75%;
        transform: translateX(-50%) translateY(-50%);
    }
    .plus-3 {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 89%;
        transform: translateX(-50%) translateY(-50%);
    }
    .plus-4 {
        width: 8px;
        height: 8px;
        position: absolute;
        top: 46%;
        left: 8%;
        transform: translateX(-50%) translateY(-50%);
    }
    .cross-2 {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 18%;
        left: 70%;
        transform: translateX(-50%) translateY(-50%);
    }
    .user-1 {
        position: absolute;
        top: 46%;
        transform: translateY(-8%) translateX(-100%);
        left: 80%;
        z-index: 1;
    }
    .round-8 {
        width: 12px;
        height: 12px;
        top: 77%;
        left: 13%;
        transform: translateX(-50%) translateY(-50%);
    }
    .round-7 {
        width: 10px;
        top: 16%;
    }
    .round-9 {
        width: 12px;
        left: 76%;
    }
    .why-1 img{
        width: 110px;
    }
    .why-2 img{
        width: 65px;
    }
    .why-3 img{
        width: 60px;
    }
    .why-4 img{
        width: 53px;
    }
    .round-10 {
        width: 12px;
        height: 12px;
        position: absolute;
        top: 17%;
        left: 46%;
        transform: translateX(-50%) translateY(-50%);
    }
    .round-11 {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 47%;
        left: 32%;
        transform: translateX(-50%) translateY(-50%);
    }
    .round-12 {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 55%;
        left: 63%;
        transform: translateX(-50%) translateY(-50%);
    }
}
@media (max-width: 768px) {
    .landing-home {
        background-size: 100% 70vh;
    }
}
@media (max-width: 767px) {
    .marg
    {
        margin-top: -2em;
        margin-left: 0.5em;
        font-size: 10px;
    }
    .marg1
    {
        margin-top: -5em!important;
       
        font-size: 10px!important;
        height: 200px!important;
    }
    

    .landing-home {
        background-size: cover;
        background-position: center;
        height: 90vh;
        padding-top: 17vh;
    }
    .landing-home h1 {
        font-size: 22px;
    }
    .app-download li {
        margin: 10px 10px 0 10px;
        border-radius: 20px;
    }
    .app-download ul {
        flex-direction: column;
        margin-top: 20px;
    }
    .app-download li a {
        padding: 10px 23px;
    }
    .app-download img {
        width: 20px;
        margin-right: 10px;
    }
    .bg-image-container {
        margin-top: 40px;
    }
    .landing-heading {
        margin: 20px 0 90px 0;
    }
    .services-container .nav-tabs li a {
        font-size: 9px;
        padding: 7px;
    }
    .landing-heading h2 {
        font-weight: 600;
        font-size: 20px;
    }
    .landing-heading h4 {
        font-size: 13px;
    }
    .services-container .nav-tabs li img {
        max-width: 20px;
        max-height: 20px;
    }
    .services-tab-container {
        margin-top: 30px;
        flex-direction: column;
    }
    .services-tab-container-right h4 {
        font-weight: 700;
        font-size: 14px;
    }
    .services-tab-container-right p {
        font-size: 12px;
    }
    .feature-data ul {
        margin: 30px 0 0 0;
        flex-direction: column;
    }
    .feature-data ul:nth-of-type(2) {
        margin: 0px 0 0 0;
    }
    .feature-data li {
        margin-right: 0;
        width: 100%;
        margin-bottom: 5px;
    }
    .feature-data-left img {
        max-width: 20px;
        max-height: 20px;
        margin-right: 10px;
    }
    .feature-data-right h4 {
        margin-top: 0;
        font-size: 14px;
        margin-bottom: 5px;
    }
    .feature-data-right p {
        font-size: 12px;
    }
    .why-container li {
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
    .why-container-left {
        width: 100%;
    }
    .why-container-right {
        padding: 0;

    }
    .why-container-right h4 {
        font-size: 14px;
    }
    .why-container-right p {
        font-size: 12px;
    }
    .why-container li:nth-of-type(even){
        flex-direction: column-reverse;
    }
}
/* 4. Footer Css */
.footer-main-container {
    background-image: url('../images/footer-bg.jpg');
    background-size: cover;
    background-position: center;
}
.footer-main-container .landing-heading {
    display: inline-block;
    width: 100%;
    color: #fff;
}
.footer-inner .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.footer-inner-left{
    width: 80%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items:center;
    flex-direction: column;
}
.footer-inner {
    padding: 50px 0 70px 0;
}
.footer-inner-left input, .footer-inner-left textarea {
    background-color: #fff;
    border: none;
    color: black;
    padding: 15px 35px;
    border-radius: 30px;
    margin-bottom: 25px;
    width: 100%;
    font-size: 16px;
    outline: none;
}
.footer-inner-left button{
    background-color: #f2dede;
    border-radius: 50px;
    padding: 15px;
    border: none;
    width: 100%;
    font-size: 16px;
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease ;
    -ms-transition: 0.4s all ease ;
    -o-transition: 0.4s all ease ;
    transition: 0.4s all ease ;
    position: relative;
}
.footer-inner-left button:hover{
    box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.07);
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease ;
    -ms-transition: 0.4s all ease ;
    -o-transition: 0.4s all ease ;
    transition: 0.4s all ease ;
}
.footer-inner-left {
    padding: 0 8%;
}
.footer-inner-left button span {
    z-index: 3;
    position: relative;
}
.footer-inner-left textarea {
    min-height: 100px;
    max-width: 100%;
}
.footer-inner-right img {
    width: 25px;
}
.footer-inner-right li{
    margin-bottom: 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 16px;
}
.footer-inner-right span {
    width: 100%;
    margin-left: 20px;
    color: #fff;
}
.social ul{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
}
.social li{
    margin-right: 30px;
    margin-bottom: 0;
    background-color: #fff;
    width: 40px;
    height: 40px;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: center;
    border-radius: 50%;
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease ;
    -ms-transition: 0.4s all ease ;
    -o-transition: 0.4s all ease ;
    transition: 0.4s all ease ;
}
.social li:hover{
    box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.07);
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease ;
    -ms-transition: 0.4s all ease ;
    -o-transition: 0.4s all ease ;
    transition: 0.4s all ease ;
}
.social a{
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: center;
}
.social img {
    width: initial;
    max-width: 25px;
    max-height: 25px;
}
.copyright {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    text-align: center;
    padding: 15px 0;
}
.footer-main-container {
    margin-top: 70px;
}
@media (max-width: 1024px) {
    .footer-inner-left {
        padding: 0 4%;
    }
}
@media (max-width: 767px) {
    .footer-main-container {
        margin-top: 30px;
    }
    .footer-inner .container {
        flex-direction: column;
    }
    .footer-inner-left, .footer-inner-right {
        padding: 0;
        width: 100%;
        margin-top: -6em;
    }
    .footer-inner {
        padding: 20px 0 30px 0;
    }
    .footer-inner-left input, .footer-inner-left textarea {
        padding: 11px 35px;
        margin-bottom: 15px;
    }
    .footer-inner-right {
        margin-top: 45px;
    }
    .footer-inner-right li {
        margin-bottom: 15px;
        font-size: 14px;
    }
    .footer-inner-right span {
        margin-left: 15px;
    }
    .footer-inner-right img {
        width: 20px;
    }
    .social img {
        width: initial;
    }
    .footer-inner-left button {
        padding: 11px;
    }
}

@-webkit-keyframes fadeInLeftC {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-40px, 0, 0);
        transform: translate3d(-40px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeftC {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-40px, 0, 0);
        transform: translate3d(-40px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInLeftC {
    -webkit-animation-name: fadeInLeftC;
    animation-name: fadeInLeftC;
}
@-webkit-keyframes fadeInUpC {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUpC {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUpC {
    -webkit-animation-name: fadeInUpC;
    animation-name: fadeInUpC;
}
@-webkit-keyframes fadeInRightC {
    from {
        opacity: 0;
        -webkit-transform: translate3d(40px, 0, 0);
        transform: translate3d(40px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRightC {
    from {
        opacity: 0;
        -webkit-transform: translate3d(40px, 0, 0);
        transform: translate3d(40px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRightC {
    -webkit-animation-name: fadeInRightC;
    animation-name: fadeInRightC;
}

@-webkit-keyframes fadeInDownC {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -40px, 0);
        transform: translate3d(0, -40px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDownC {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -40px, 0);
        transform: translate3d(0, -40px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDownC {
    -webkit-animation-name: fadeInDownC;
    animation-name: fadeInDownC;
}